* {
    margin:0;
    padding:0;
}

html, body {
    width: 100%;
    height:100%;
}

canvas {
    display:block;
    width: 100vw;
    height: 100vh;
}

.a1:hover {
    cursor: pointer;
    filter: brightness(85%);
}